.advantages {
  background-color: @main-color;
}

.advantages__header {
  color: @background-color;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__list {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.advantages__text {
  color: @background-color;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages__advice-list {
  text-align: left;
  background-color: @background-color;
  list-style-type: none;
}

.advantages__advice-header {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__advice-text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @main-text-color;
}

.advantages__item--modifier {
  background-color: @advantages-color;
}

.advantages__header--modifier {
  color: #000000;
}

.advantages__text--modifier {
  color: @main-text-color;
}
