.footer {
  background: @background-color;
  padding: 0;
  // padding-top: 30px;
  // padding-bottom: 25px;
  // padding-right: 84px;
  // padding-left: 84px;
}

.footer-social {
  text-align: center;
}

.footer-social__list {
  list-style-type: none;
  margin: 0;
}

.footer-social__header {
  font-size: 21px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
}

.footer-copyright__text {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.footer-social__item {
  margin-right: 6px;
}

.footer-social__item:nth-child(3n) {
  margin-right: 0;
}

@media (max-width: @mobile-width-only) {
  .footer-social {
    padding-top: 30px;
  }

  .footer-social__list {
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
    padding-bottom: 52px;
  }

  .footer-copyright__link {
    margin-left: 14px;
  }

  .footer-copyright__text {
    display: flex;
    justify-content: center;
  }

  .footer-social__icon {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-bottom: 30px;
  }
}

@media (min-width: @tablet-width) {
  .footer-social {
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 30px;
  }

  .footer__wrapper {
    width: 648px;
    margin: 0 60px;
  }

  .footer-social__list {
    padding: 0;
    display: flex;
    align-items: center;
  }

  .footer-social__header {
    padding: 0;
    margin: auto 0;
  }


}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    width: 960px;
    margin: 0 120px;
  }


  .footer-social__list {
    padding: 0;
    display: flex;
    align-items: center;
  }
}
