.footer {
  background: @background-color;
}

.footer-social {
  text-align: center;
}

.footer-social__list {
  list-style-type: none;
}

.footer-social__header {
  font-size: 21px;
  line-height: 24px;
  text-transform: uppercase;
}

.footer-copyright__text {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
