.form-intro__header {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.form-intro__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: @main-text-color;
  text-align: center;
}

.form-intro__wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
.form-intro__header {
  text-transform: uppercase;
  font-size: 30px;
}

.form-intro__wrapper {
  width: 445px;
  margin: 0 auto;
}

}
