.hotel-search__header {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.hotel-search__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: @main-text-color;
  text-align: center;
  margin: 0;
  padding: 20px;
  margin-bottom: 14px;
}

.hotel-search__link-button {
  text-decoration: none;
  color: @background-color;
  text-transform: uppercase;
  background-color: @main-color;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  font-family: inherit;
  padding: 0;
  display: block;
  padding-top: 15px;
  padding-bottom: 17px;
  margin: 0 20px;
  margin-bottom: 49px;

  &:hover {
    background-color: @button-hover-color;
  }

  &:active {
    // background-color: @button-down-color;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
    border: none;
  }

  &:disabled {
    background-color: @button-disabled-color;
  }
}

.hotel-search {
  margin: 0 auto;
  width: 320px;
  text-align: center;
  background-color: @background-color;
  padding-top: 27px;
}

@media (min-width: @tablet-width) {
  .hotel-search {
    width: 768px;
    padding-top: 55px;
    padding-bottom: 9px;
  }

  .hotel-search__header {
    font-size: 30px;
  }

  .hotel-search__text {
    margin: 0;
    padding-top: 32px;
    margin-bottom: 21px;
  }

  .hotel-search__link-button {
    margin: 0 155px;
    margin-bottom: 49px;
  }
}

@media (min-width: @desktop-width) {
  .hotel-search {
    width: 1200px;
  }

  .hotel-search__text {
    margin: 0;
    padding-top: 32px;
    margin-bottom: 26px;
  }

  .hotel-search__link-button {
    margin: 0 371px;
    margin-bottom: 57px;
  }
}
