.hotel-search__header {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.hotel-search__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: @main-text-color;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.hotel-search__button {
  background-color: @main-color;
  color: @background-color;
  font-size: 21px;
  line-height: 26px;
  height: 58px;
  width: 280px;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  margin-top: 14px;
  margin-bottom: 49px;
  font-family: inherit;

  &:hover {
    background-color: @button-hover-color;
  }

  &:active {
    background-color: @button-down-color;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
    border: none;
  }

  &:disabled {
    background-color: @button-disabled-color;
  }
}

.hotel-search {
  margin: 0 auto;
  width: 320px;
  text-align: center;
  background-color: @background-color;
  padding-top: 27px;
}

@media (min-width: @tablet-width) {
  .hotel-search {
    width: 768px;
    padding-top: 55px;
    padding-bottom: 9px;
  }

  .hotel-search__header {
    font-size: 30px;
  }

  .hotel-search__text {
    margin: 0;
    padding-top: 32px;
  }

  .hotel-search__button {
    width: 458px;
    margin-top: 21px;
  }
}

@media (min-width: @desktop-width) {
  .hotel-search {
    width: 1200px;
  }

  .hotel-search__button {
    margin-top: 26px;
    margin-bottom: 57px;
  }
}
