.page-main__background-image {
  position: relative;
  display: block;
}

.inner-page__intro-image {
  position: relative;
  height: 289px;
  background: @main-color;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom, center;
  background-size: 100%, cover;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
    background-size: 768px auto;
  }
}

.inner-page__text-index-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@media (max-width: @mobile-width-only) {
  .inner-page__text-index-image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 149px;
    margin: auto;
  }

  .inner-page__intro-image {
    position: relative;
    height: 289px;
    background: @main-color;
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-position: 0 130px, center;
    background-size: 100%, cover;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
      // background-size: 768px auto;
    }
  }
}

@media (min-width: @tablet-width) {
  .inner-page__intro-image {
    position: relative;
    height: 518px;
    background: @main-color;
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-position: 0 232px, 0 -228px;
    background-size: 100%, cover;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
      // background-size: 1200px auto;
    }
  }

  .inner-page__text-index-image {
    height: 100px;
    width: 460px;
    bottom: 251px;
  }
}

@media (min-width: @desktop-width) {
  .inner-page__intro-image {
    position: relative;
    height: 518px;
    background: @main-color;
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-position: 0 243px, 0 -217px;
    background-size: 100%, cover;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
      // background-size: 1200px auto;
    }
  }

  .inner-page__text-index-image {
    height: 100px;
    width: 460px;
    bottom: 237px;
  }
}
