.main-nav__list {
  color: @background-color;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu-open__list {
  background-color: @background-color;
}

// .site-list {
//   list-style-type: none;
// }
//
// .site-list__item-link {
//   text-decoration: none;
//   color: @background-color;
// }
//
// .site-list__item {
//   padding: 8px;
// }

.page-header__logo {
  position: absolute;
  z-index: 1;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav {
  position: relative;

  width: 320px;
  margin: 0 auto;

  background-color: @main-color;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: block;
  width: 60px;
  height: 50px;

  background-color: @background-color;

  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: @background-color;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 17px;

  width: 23px;
  height: 4px;

  background-color: @main-color;
  box-shadow: 0 8px 0 0 @main-color, 0 16px 0 0 @main-color;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
  background-color: @main-color;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 27px;
    left: 15px;

    width: 27px;
    height: 4px;

    background-color: @background-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.menu-open__list {
  background-color: @background-color;
  min-height: 56px;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .menu-open__list-item {
    display: block;
  }

  .menu-open__list-item {
    padding-right: 100px;
  }

  .main-nav--nojs .main-nav__close-button {
    display: none;
  }

}

@media (min-width: @tablet-width) {
  .main-nav {
    padding-left: 49px;
    padding-right: 26px;
    background-color: @background-color;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 768px;
  }

  .site-list {
    width: 700px;
    /* Временно для сетки */
    min-height: 56px;
    display: flex;
    justify-content: space-between;
  }

  .menu-open__list {
    min-height: 0;
    position: absolute;
    top: 0;
    left: 50%;
  }

  .site-list__item:nth-child(1) {
    padding-right: 76px;
  }

  .site-list__item:nth-child(2) {
    padding-right: 208px;
  }

  .site-list__item:nth-child(3) {
    padding-right: 51px;
  }

  .menu-open__list {
    min-height: 0;
    position: absolute;
    top: 0;
    left: 333px;
}
}

@media (min-width: @desktop-width) {

  .main-nav {
    padding-left: 90px;
    padding-right: 70px;
  }

  .main-nav__wrapper {
    width: 1040px;
  }

  .site-list {
    width: 1200px;
  }

  .site-list__item:nth-child(1) {
    padding-right: 163px;
  }

  .site-list__item:nth-child(2) {
    padding-right: 380px;
  }

  .site-list__item:nth-child(3) {
    padding-right: 140px;
  }

  .menu-open__list {
    min-height: 0;
    position: absolute;
    top: 0;
    left: 547px;
}

}
