.main-nav {
  background-color: @main-color;
}


.main-nav__list {
  color: @background-color;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}

.site-list {
  list-style-type: none;
}

.site-list__item-link {
  text-decoration: none;
  color: @background-color;
}

.site-list__item {
  padding: 8px;
}
