.index-intro {
  text-align: center;
}

.index-intro__header {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.index-intro__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: @main-text-color;
  margin: 0;
}

.page-main__intro-image {
  position: relative;
  height: 289px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: center;
  background-size: cover;
}

.page-main__text-index-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.page-main__intro-image {
  height: 389px;
}

@media (min-width: @tablet-width) {
  .page-main__intro-image {
    height: 518px;
  }

  .index-intro {
    margin: 0 auto;
    width: 495px;
  }

  .page-main__text-index-image {
    height: 350px;
    width: 460px;
  }
}
