.index-intro {
  text-align: center;
  padding-top: 39px;
  margin: 0 25px;
  padding-bottom: 8px;
}

.index-intro__header {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.index-intro__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: @main-text-color;
  margin: 0;
  padding-top: 28px;
}

.page-main__intro-image {
  position: relative;
  height: 289px;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom, center;
  background-size: 100%, cover;
  background-repeat: no-repeat;
}

.page-main__text-index-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.page-main__intro-image {
  height: 389px;
}

// .page-main__triangle-image {
//   width: 100%;
//   position: absolute;
//   bottom: 97px;
//   left: 0px;
// }

.page-main__triangle-image {
  width: 100%;
  position: relative;
  top: 348px;
}

.page-main__triangle-image-2 {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .page-main__intro-image {
    position: relative;
    height: 518px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-position: bottom, center;
    background-size: 100%, cover;
    background-repeat: no-repeat;
  }

  .index-intro {
    margin: 0 auto;
    width: 495px;
    padding: 49px 0;
  }

  .page-main__text-index-image {
    height: 350px;
    width: 460px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 12px;
    margin: auto;
  }

  .index-intro__header {
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    margin: 0;
  }


  .index-intro__text {
    padding-top: 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__intro-image {
    position: relative;
    height: 518px;
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-position: bottom, center;
    background-size: 100%, cover;
    background-repeat: no-repeat;
  }

  .page-main__text-index-image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 12px;
    margin: auto;
  }
}
