.photographs__list {
  list-style-type: none;
  padding: 0;
}

.photographs__header {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.photographs__text {
    font-size: 14px;
    line-height: 24px;
    color: @main-text-color;
}

.photographs__counter {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}
