.photo-intro__header {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.photo-intro__text {
  font-size: 14px;
  line-height: 24px;
  color: @main-text-color;
  text-transform: uppercase;
  text-align: center;
}

.photo-intro__wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .photo-intro__wrapper {
    width: 435px;
    margin: 0 auto;
  }

  .photo-intro__header {
    font-size: 30px;
  }
}
