.photo-intro__header {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.photo-intro__text {
  font-size: 14px;
  line-height: 24px;
  color: @main-text-color;
  text-transform: uppercase;
  text-align: center;
}
