.video {
  padding: 0;
}

.video__header {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.video__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: @main-text-color;
  text-align: center;
}
